<!DOCTYPE html>
<html>
<head>
  <title>Apartment acme client</title>
  <%= stylesheet_link_tag    "apartment_acme_client/application", media: "all" %>
  <%= javascript_include_tag "apartment_acme_client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
